In [2]:
import sqlite3
import pandas as pd

In [3]:
submi_test = pd.read_csv('submi.csv')
submi_test

       Unnamed: 0        0
0               0  3035.40
1               1  5228.97
2               2  9072.72
3               3  4034.50
4               4  1682.18
...           ...      ...
13480       13480  1687.11
13481       13481  2297.87
13482       13482  2921.36
13483       13483  2147.79
13484       13484   823.22

[13485 rows x 2 columns]

In [5]:
# Rename the columns
submi_test.rename(columns={'Unnamed: 0': 'id', '0': 'price'}, inplace=True)

# Display the updated DataFrame
print(submi_test)

          id    price
0          0  3035.40
1          1  5228.97
2          2  9072.72
3          3  4034.50
4          4  1682.18
...      ...      ...
13480  13480  1687.11
13481  13481  2297.87
13482  13482  2921.36
13483  13483  2147.79
13484  13484   823.22

[13485 rows x 2 columns]

In [6]:
submi_test.to_csv("./submi_test.csv", index=False)